* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body h1 {
    font-size: 1.5rem;
}

body {
    --black: hsl(240, 6%, 13%);
    --grey: hsl(240,9%,89%);
    place-content: center;
    height: 100%;
    margin: auto;
    text-align: center;
    display: grid;
    -webkit-font-smoothing: antialiased;
}

.content {
    background-image: url('./images/Background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.avatar {
    width: 10rem;
    margin: 11.5rem auto 0;
    position: relative;
    z-index: 1;
}

.avatar span {
    position: absolute;
    top: -10px;
    z-index: 2;
    margin-top: 20;
}

.avatar > img { /* Indica que apenas o primeiro objeto receberá as configurações abaixo */
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    z-index: -1;
}

a {
    text-decoration: none;
    margin-top: 0.25rem;
    color: var(--grey);
}

p .userBio {
    line-height: 60px;
    display: block;
    width: 16.37rem;
    height: 3rem;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 0.5rem;
    justify-content: center;
}

p,
h1 {
    color: var(--grey);
}

p {
    margin-top: 2rem;
    text-align: center;
    line-height: 24px;
    font-weight: 400;

}

ul {
    margin-top: 4rem;
}